.chatbody{
    width: 100%;
}
.messagebox{
    max-width: 55%;
    min-width: 25%;
}
.msgDom{
    margin-right:0.1rem;
}
.messages{
    /* width: 55%; */
    margin: 1rem 0.2rem 1rem 0.2rem;
    justify-content: flex-end;
}
.recmessage{
    justify-content: flex-start;
}